body{
    background: blanchedalmond;
}
h1{
    text-align: center;
    color: blue;
    background-color: aqua;
    margin: 265px;
    border: 4px double yellow;
    margin-top: -30px;
}
td{
    width: 40px;
    height: 40px;
}
.white{
    background: rgb(10, 8, 5);
}
.black{
    background: white;
}
table{
    border: 10px solid black;
    margin: auto;
    margin: -280px 130px 200px 370px;
}
.back{
    text-align: left;
    color: brown;
    border: 10px double yellow; 
    background: white;
    font-size: 19px;
    padding-top: 10px;
    margin-top: -150px;
    position: relative;

}